[Unit]
Description=Sleep Pi Core Controller
After=bluetooth.service
Wants=bluetooth.service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/odd/ID26-TeamE-OddSocks/pi/new-code
ExecStart=/usr/bin/python3 /home/odd/ID26-TeamE-OddSocks/pi/new-code/main.py --debug
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
